doctype html
html
    head
        title WeTube
        script(src="https://kit.fontawesome.com/7262c7b485.js", crossorigin="anonymous")
    body
        main
            block content
        footer
            span &copy; WeTube